//
// Modals
// --------------------------------------------------

// .modal-open      - body class for killing the scroll
// .modal           - container to scroll within
// .modal-dialog    - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and shit


#registration-modal{
    top: 139px;
}
    .modal-default {
        top: 35px !important;
    }
// Container that the modal scrolls within
#bannerformmodal {
        top: 0px;
    .modal-content {
    position: relative;
    background-color: transparent;
    border: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    }
    #edit-actions--4, #edit-actions--2 {
            display: none;
        }
    // Search form.
    form#search-block-form {
        margin: 0;
        
    }
    .navbar #block-search-form {
        float: none;
        margin: 5px 0 5px 5px;
        @media @normal {
          float: right;
        }

        .input-group-btn {
          width: auto;
        }
    }
}

// Scale up the modal
@media (min-width: @screen-sm-min) {
 
}

@media (min-width: @screen-md-min) {
  
}
