/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07-juin-2017, 15:16:37
    Author     : platanas
*/

/* PAGE */

.page-event {
    .field .field-label {
        color: @blue-darker;
        font-size: 20px;
        font-weight: 300;
        border-bottom: 1px solid #c1ccd5;
        padding:7px 0;
        margin-bottom: 15px;
    }
    .field-name-field-image {
        margin-top: 20px;
    }
    .field.field-name-field-tags .field-label {
        border-bottom: 0px solid #c1ccd5;
    }
    .block-event-info {
        background:url(../img/xperthis-top-bloc-event-bg.jpg) white top center repeat-x;
        h2, h3 {
            color: @blue-darker;
        }
        .btn-primary {
            margin:80px 0;
        }
        .event-date {
            font-family: @font-family-date;
            background-color: @turquoise;
            color: white;
            padding: 10px;
            display: block;
            float: left;
            .center-auto {
                margin: 0 auto;
            }
            p {
                line-height: initial;
            }
            .day {
                font-size: 43px;
                font-weight: 200;
                line-height: 43px;
                padding: 0 7px;
            }
            .month {
                font-size: 20px;
                line-height: 10px;
                font-weight: 400;
                text-transform: uppercase;
            }
        }
    }
}