/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07-juin-2017, 15:16:37
    Author     : platanas
*/

/* PAGE */
/* LEFT TO RIGHT */
.sliding-u-l-r {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
    width: 100%;
    padding-top: 19px;
    text-align: center;
    border-bottom: 3px solid #dee8ee;
    color: #93a2b3;
    &.active {
        border-bottom: 3px solid #4ca9d3;
        color: #93a2b3;
    }
    &:hover {
        text-decoration: none;
        color: #4ca9d3;
    }
}
.sliding-u-l-r:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    height: 3px;
    width: 0;
    bottom: -3px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}
.sliding-u-l-r:hover:after {
    width: 100%;
    background: #4ca9d3;
}  

.sliding-u-r-l {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
    width: 100%;
    padding-top: 19px;
    text-align: center;
    border-bottom: 3px solid #dee8ee;
    color: #93a2b3;
    &.active {
        border-bottom: 3px solid #4ca9d3;
        color: #93a2b3;
    }
    &:hover {
        text-decoration: none;
        color: #4ca9d3;
    }
}
.sliding-u-r-l:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

.sliding-u-r-l:hover:after {
    width: 100%;
    background: #4ca9d3;
}
.page-evenements, .page-evenements-passes {
    .col-sm-8.contextual-links-region {
        padding-right: 53px;
    }
}
.page-event {
    
    .node-event {
        padding: 0 36px 0 0;
    }
    .container {
        padding-top: 42px;
    }
    .field .field-label {
        color: @blue-darker;
        font-size: 22px;
        font-weight: 300;
        border-bottom: 1px solid #c1ccd5;
        padding: 43px 0 7px 0;
        margin-bottom: 15px;
    }
    .field-name-field-image {
        margin-top: 20px;
    }
    .field-name-field-adresse {
        margin-bottom: 185px;
    }
    .field.field-name-field-tags .field-label {
        border-bottom: 0px solid #c1ccd5;
    }
    .block-event-info {
        background:url(../img/xperthis-top-bloc-event-bg.jpg) white top center repeat-x;
        h2, h3 {
            color: @blue-darker;
        }
        .btn-primary {
            margin:80px 0;
            width: 100%;
        }
        .event-date {
            font-family: @font-family-date;
            background-color: @turquoise;
            color: white;
            padding: 10px;
            display: block;
            float: left;
            .center-auto {
                margin: 0 auto;
            }
            p {
                line-height: initial;
            }
            .day {
                font-size: 43px;
                font-weight: 200;
                line-height: 43px;
                padding: 0 7px;
            }
            .month {
                font-size: 20px;
                line-height: 10px;
                font-weight: 400;
                text-transform: uppercase;
            }
        }
    }
}
.page-evenements, .page-evenements-passes {
    &.not-front {
        .page-header {
            border-bottom: 3px solid #dee8ee;
        }
    }
}
/* Event LIsting */
.node-teaser-event {
    height: 190px;
    margin-bottom: 40px;
    .field-type-image {
        float: left;
        margin-right: 30px;
    }
    .event-details {
        height: 190px;
        background: #fff;
        .red {
            color: @red;
            padding-right: 7px; 
        }
        h3 {
            padding-top: 25px;
            color: @blue-darker;
        }
        a {
            color: @blue-xtra-light;
            text-decoration: underline;
        }
    }
    .event-date-listing {
        position: absolute;
        top: 0;
        left: 23px;
        .date {
            padding-top: 11px;
            border-right: 2px solid #a7e2eb;
            width: 82px;
        }
        .hour {
            padding-top: 25px;
            width: 107px;
        }
        .date, .hour {
            font-family: @font-family-date;
            background-color: @turquoise;
            color: white;
            height: 82px;
            display: block;
            float: left;
            p {
                line-height: initial;
            }
            .date-day {
                font-size: 43px;
                font-weight: 200;
                line-height: 43px;
                padding: 0 7px;
                text-align: center;
            }
            .date-month {
                font-size: 20px;
                line-height: 10px;
                font-weight: 400;
                text-align: center;
                text-transform: uppercase;
            }
            .hour-start {
                text-align: center;
            }
            .hour-end {
                text-align: center;
            }
        }
    }
}
/*Next event bloc */
#block-views-news-block-3 {
    .pull-left {
        margin-right: 20px;
    }
    p {
        font-weight: 500;
    }
    a {
        color:@blue-darker;
    }
}
#block-views-news-block-3 {
    .col-first {
        margin-top: 26px;
    }
}
#block-views-news-block-2,
#block-views-news-block-3 {
    margin-left: 10px;
    
    .col {
        height: 100px;
        clear: both;
    }
    h2.block-title {
        font-weight: 300;
        padding-top: 6px;
        padding-bottom: 36px;
        margin-bottom: 0;
    }
    
    .view-id-news .views-field-field-date {
        font-family: @font-family-date;
        background-color: @turquoise;
        color: white;
        padding: 16px 10px 19px;
        margin-right: 5px;
        display: block;
        float: left;
        p {
            line-height: initial;
        }
        .date-day {
            font-size: 43px;
            font-weight: 200;
            line-height: 43px;
            padding: 0 7px;
            text-align: center;
        }
        .date-month {
            font-size: 20px;
            line-height: 10px;
            font-weight: 400;
            text-align: center;
            text-transform: uppercase;
        }
    }
    
    .view-id-news .views-field-field-date-1 {
        color: white;
        background-color: #1cbdd5;
        text-align:center;
        font-weight: 300;
        font-size: 1.1em;
        text-transform: uppercase;
        width: 80px;
        padding: 0 25px 20px 25px;
    }
}