/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05-juin-2017, 17:43:47
    Author     : platanas
*/
h1.lead {
    color: white;
    font-size: 30px;
    margin-top: 70px;
    margin-bottom: 60px;
}
.front {
    .pagination {
        display: none;
    }
}
.text-alignment {
    text-align: right;
}

.homepage-icons {
    text-transform: uppercase;
    border-radius: 50%;
    border: 2px solid #fff;
    width: 200px;
    height: 200px; 
    color: #007cb8;
    margin: 10px;
}

.homepage-icons-bg {
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 50%;
    background-color: rgba(255,255,255,1);
    width: 187px;
    height: 187px;
    padding: 25px;
    color: #007cb8;
    margin: 5px;
    h3 {
        font-weight: 400;
        font-size: 18px;
        padding-top: 10px;
        margin-top: 0;
        line-height: 24px;
    }
    .img-responsive {
        width: 73px;
    }
    &:hover {
        background-color: rgba(255,255,255,0.9);
    }
}

#block-views-news-block {
    margin-top: 60px;
    h2.block-title {
        text-align: center;
        color: #007cb8;
    }
    a {
        color: white;
    }
    .view-id-news .col{
        height: 250px;
        clear: both;
        margin: 20px 0;
        position: relative;
    }
    .pixel-overlay {
        position:absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.75;
        background: url('../img/homepage-headline-pattern.png'); /* or any other overlay image/color */
        transition: all 0.5s ease-in-out;
        &:hover {
            opacity: 0;
        }
    }
    .view-id-news .views-field-field-image{
        position:absolute;
        z-index:0;
        height:250px;
        width:100%;
        overflow: hidden;
    }

    .view-id-news .views-field-title, 
    .view-id-news .views-field-body,  
    .view-id-news .views-field-type, 
    .view-id-news .views-field-views-conditional,
    .view-id-news .views-field-views-conditional-1, 
    .view-id-news .views-field-views-conditional-2, 
    .view-id-news .views-field-views-conditional-3, 
    .view-id-news .views-field-views-conditional-4, 
    .view-id-news .views-field-field-date {
        position: absolute;
        z-index: 1;
    }
    .view-id-news .views-field-nothing{
        font-family: @font-family-date;
        color: white;
        float: left;
        position: relative;
        margin-top: -20px;
        top: 50px;
        
        .date-day {
            background-color: @turquoise;
            margin-left: 20px;
            margin-right: 20px;
            font-size: 33px;
            font-weight: 200;
            line-height: 43px;
            padding: 10px 22px 0 22px;
            text-align: center;
        }
        .date-month {
            background-color: @turquoise;
            margin-left: 20px;
            margin-right: 20px;
            font-size: 15px;
            line-height: 10px;
            font-weight: 400;
            text-align: center;
            padding: 0px 17px 19px 17px;
            text-transform: uppercase;
        }
    }
    .view-id-news .views-field-title p {
        font-size: 1.1em;
        color: #fff;
        padding: 20px;
        font-weight: 400;
        &.Evenement, &.Evenements, &.Event, &.Events {
            left: 104px;
            top: 5px;
            position: relative;
        }
    }
    
    .view-id-news .views-field-body {
        position: relative;
        top: 34px;  
        width: 350px;
        p {
            font-size: 1.1em;
            color: #fff;
            padding: 0 20px;
        }
    }
    
    .view-id-news .views-field-type {
        top: -14px;
        left: 20px;
        h3 {
            padding: 0px 15px;
            display: inline-block;
            color: #fff;
            margin: 0;
            font-weight: 400;
            font-size: 12px;
            text-transform: uppercase;
            &.Whitepaper {
                background-color: #da5d80;
            }
            &.Article {
                background-color: #eab013;
            }
            &.Artikel {
                background-color: #eab013;
            }
            &.Evenement, &.Evenements, &.Event, &.Events  {
                background-color: #1cbdd5;
            }
        }
    }
    .views-field-views-conditional, 
    .views-field-views-conditional-1, 
    .views-field-views-conditional-2, 
    .views-field-views-conditional-3, 
    .views-field-views-conditional-4 {
        right: 17px;
        top: 205px;
        a {
            padding-right: 20px;
            text-decoration: underline;
                &:hover {
                    text-decoration: none;
                }
        }
    }
}
footer.footer {
    #block-views-partner-block {
        padding-top: 76px;
        background-color: white;
        -webkit-box-shadow: 0px 6px 14px 0px rgba(35,31,32,0.35);
        -moz-box-shadow: 0px 6px 14px 0px rgba(35,31,32,0.35);
        box-shadow: 0px 6px 14px 0px rgba(35,31,32,0.35);
        /*background: url('../img/xperthis-footer-shadow.png') transparent bottom repeat-x; /* or any other overlay image/color */
        max-height: 350px;
        min-height: 350px;
        h2 {
            text-align: center;
            color: #0f7db5;
        }
        .row img{
            display: none;
        }
        .row:nth-of-type(1) img{
            display: block;
        }
        .view-id-partner .view-content {
            .container {
                .row-partner {
                    .row {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        margin: 0 auto;
                        width: 100%;
                        height: 100%;
                        .col-lg-3 {
                            width: 200px;
                            height: 100px;
                            position: relative;
                            display: block;
                            margin: 10px auto;
                            img {
                                position: absolute;
                                width: 200px;
                                height: 100px;
                            }
                        }
                    }
                }
            }
        }
    }
}
#block-views-news-block-1 {
    .home-headline-card {
        height: 400px;
        min-height: 400px;
        max-height: 400px;
    }
    
    .view-footer {
        margin: 40px 0 0 0;
    }
    
    .views-field-view-node {
        
    }
    
    .pixel-overlay {
        position:absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.75;
        background: url('../img/homepage-headline-pattern.png'); /* or any other overlay image/color */
        transition: all 0.5s ease-in-out;
        &:hover {
            opacity: 0;
        }
    }
    
    .view-id-news .views-field-field-image {
        position:relative;
        z-index:0;
        height:200px;
        overflow: hidden;
    }
    .views-field-field-title-event {
        background: white;
        margin: 0;
        height: 100px;
        
        h3 {
            margin: 0;
            font-size: 16px;
            color: #007cb8;
            padding: 10px 20px;
            font-weight: 400;
        }
        
        p {
            padding: 10px 20px
        }
    }
    .view-id-news .views-field-nothing {
        font-family: @font-family-date;
        color: white;
        float: left;
        position: relative;
        margin-top: -20px;
        .date-day {
            background-color: @turquoise;
            margin-left: 20px;
            margin-right: 20px;
            font-size: 33px;
            font-weight: 200;
            line-height: 43px;
            padding: 10px 22px 0 22px;
            text-align: center;
        }
    
        .date-month {
            background-color: @turquoise;
            margin-left: 20px;
            margin-right: 20px;
            font-size: 15px;
            line-height: 10px;
            font-weight: 400;
            text-align: center;
            padding: 0px 17px 19px 17px;
            text-transform: uppercase;
        }
    }

    .view-id-news .views-field-views-conditional,
    .view-id-news .views-field-views-conditional-1, 
    .view-id-news .views-field-views-conditional-2, 
    .view-id-news .views-field-views-conditional-3, 
    .view-id-news .views-field-views-conditional-4 {
        background-color: white;
        text-align: right;
        padding: 20px 0 20px 20px;
        a {
            padding-right: 20px;
            color: @blue-xtra-light;
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
    }
    
    .view-id-news .views-field-title h2 {
        font-size: 1.1em;
        color: #fff;
        padding: 20px;
    }
    
    
    .view-id-news .views-field-type {
        position: relative;
        z-index: 1;
        top: 14px;
        left: 20px;
        h3 {
            padding: 0px 15px;
            display: inline-block;
            color: #fff;
            margin: 0;
            font-weight: 400;
            font-size: 12px;
            text-transform: uppercase;
            &.Whitepaper {
                background-color: #da5d80;
            }
            &.Article {
                background-color: #eab013;
            }
            &.Artikel {
                background-color: #eab013;
            }
            &.Evenement, &.Evenements, &.Event, &.Events {
                background-color: #1cbdd5;
            }
        }
    }
}

#block-views-webform-block {
    color: white;
    padding: 56px 0;
    background: url('../img/xperthis-home-bg-cta-contact.jpg') center center; /* or any other overlay image/color */
    background-size: cover;
    -webkit-box-shadow: 0px 6px 14px 0px rgba(35,31,32,0.35);
    -moz-box-shadow: 0px 6px 14px 0px rgba(35,31,32,0.35);
    box-shadow: 0px 6px 14px 0px rgba(35,31,32,0.35);
    table {
        width: 100%;
    }
    .views-field-body {
        margin-top: 20px;
        margin-bottom: 46px;
    }
    .views-field-nothing {
        text-transform: lowercase;
        a {
            text-decoration: underline;
            color: white;
            &:hover {
                text-decoration: none;
            }
        }
    }
    h2 {
        color: white;
    }
    .btn-primary {
        background-color: @blue-darker;
        padding: 10px 15px;
        &:hover, &:focus {
            background-color: #3d6d85;
        }
    }
}


.banner-wrapper:after { 
  content:"";
  display:block;
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  height:72px;
  background: url(../img/xperthis-home-hero-bottom.png) transparent bottom center no-repeat;
  background-size: cover;
}
.banner-wrapper {
    position:relative;
    background: url(../img/gabarit-visuel1-home.jpg) white bottom center no-repeat;
    color: #fff;
    background-size: cover;
    .banner-wrapper-pattern {
        height:660px;
        background: url(../img/pattern.png) transparent repeat;
        padding-top: 142px;
    }
}

.confirm-primal,
.errors-primal {
    margin-top: 30px;
}
#block-simplenews-1 div.alert-danger {
    display: none;
}
#block-simplenews-1 .errors-primal div.alert-danger {
    display: block;
}


@media(max-width:@grid-float-breakpoint){
    .banner-wrapper {
        .banner-wrapper-pattern {
            padding-top: 50px;
        }
    }
    
    .text-alignment, .text-alignment-adjust {
        text-align: center;
    }
    .homepage-icons {
        text-transform: uppercase;
        border-radius: 50px;
        border: 2px solid #fff;
        width: 300px;
        height: 100px; 
        color: #007cb8;
        margin: 10px;  
        
    }
    .views-field-field-hompage-icon {
        float:left;
    }
    .homepage-icons-bg {
        cursor: pointer;
        text-transform: uppercase;
        border-radius: 50px;
        background-color: rgba(255,255,255,1);
        width: 286px;
        height: 88px;
        padding: 15px 27px;
        color: #007cb8;
        margin: 5px;
        h3 {
            font-weight: 400;
            font-size: 18px;
            padding-top: 0;
            margin-top: 0;
        }
        .img-responsive {
            width: 61px;
        }
        &:hover {
            background-color: rgba(255,255,255,0.9);
        }
    }
}
@media(max-width:320px){
    
}
@media(min-width:768px){
    
}
@media(min-width:992px){
    
}
@media(max-width:1200px){
    h1.lead {
        font-size: 24px;   
    }
}