/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07-juin-2017, 10:29:35
    Author     : platanas
*/
.region-navigation {
    float: right;
}
nav {
    text-align: center;
    ul.menu {
        display: inline-block;
        float: none;
            li {
            position: relative;
            display: inline;
            list-style-type: none;
            a {
                color: @blue-light;
            }
            &:not(:last-child):after{
                content: ' \00b7';
                position: absolute;
                right: 0px;
                top: 15px;
                width:2px;
                color: @blue-light;
            }
        }
    }
}
#block-search-form {
    ul li {
        position: relative;
        padding: 12px;
        display: inline;
        list-style-type: none;
        &:after{
            content: ' \00b7';
            position: absolute;
            right: 0px;
            width:2px;
            color: #aab6c3;
        }
        a {
            color: #334c67;
            font-weight: normal;
            &.active, &:hover {
                color: #334c67;
                font-weight: normal;
                text-decoration: none;
            }
        }
    }
}
#block-locale-language {
    .item-list{
        text-transform: uppercase;
        ul.language {
            padding: 0;
            li {
                position: relative;
                padding: 10px;
                display:inline;
                list-style-type:none;
                &:not(:last-child):after{
                    content: '';
                    position: absolute;
                    right: -2px;
                    width:2px;
                    height: 30%;
                    top: 35%;
                    background: #aab6c3;
                }
                a {
                    color: #aab6c3;
                    font-weight: normal;
                    &.active, &:hover {
                        color: #334c67;
                        font-weight: bold;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}


header#navbar {
    background: #fff;
    height: 142px;
    position: fixed;
    top: 0;
    transition: top 0.5s ease-in-out;
    width: 100%;
    max-width: inherit;
    display: inherit;
    border-radius: 0;
    border: 0;
    z-index: 10;
    p {
        font-size: 14px;
        line-height: 20px;
        margin: 0; 
    }
    #block-block-6 {
        margin-top: 55px;
    }
    .mt-4 {
        padding-top: 85px;
    }
}

.admin-menu header#navbar {
    top: 29px;
}
header#navbar.nav-up {
    top: -120px;
}
// Search form.
form#search-block-form {
  margin: 0;
}
.navbar #block-search-form {

  margin-top: 5px;
  ul {
      margin-left: 5px;
  }

  .input-group-btn {
    width: auto;
  }
}
.navbar #block-locale-language {
  margin-top: 5px;
  .item-list {
      margin-left: 25px;
      .first {
          padding-left: 0;
      }
      .last {
          padding-right: 0;
      }
  }

  .input-group-btn {
    width: auto;
  }
}