/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07-juin-2017, 10:29:35
    Author     : platanas
*/
.region-navigation {
    
    margin-top: 5px;
}
nav {
    text-align: center;
    ul.menu {
        display: inline-block;
        float: none;
            > li {
            position: relative;
            display: inline;
            list-style-type: none;
            a {
                color: @blue-light;
                &:hover {
                    color: @blue-darker;
                }
            }
            &:not(:last-child):after{
                content: ' \00b7';
                position: absolute;
                right: 0px;
                top: 15px;
                width:2px;
                color: @blue-light;
            }
        }
    }
}
#block-search-form {
    float:left;
    ul {        
        margin-bottom: 0;
    }
    ul li {
        position: relative;
        padding: 12px;
        display: inline;
        list-style-type: none;
        a {
            color: #255a75;
            font-weight: normal;
            &.active, &:hover {
                color: #255a75;
                font-weight: normal;
                text-decoration: none;
            }
            span.glyphicon-search {
                font-weight: bold;
            }
        }
    }
}
.region-blockgroup-block-menu-search-lang {
    float: right !important;
}
#block-menu-menu-secondary-menu {
    float:left;
    font-size: 12px;
    margin-top: 2px;
    ul li {
        float:left;
        position: relative;
        padding: 0;
        display: inline;
        list-style-type: none;
        &.last {
            a {
                &:after {
                    content: ' \00b7';
                    position: absolute;
                    right: 0px;
                    top: 5px;
                    width:2px;
                    color: #b5b7bc;
                }
            }
        }
        a {
        &:before{
            content: ' \00b7';
            position: absolute;
            left: 0px;
            top: 5px;
            width:2px;
            color: #b5b7bc;
        }
            color: @blue-darker;
            font-weight: normal;
            padding: 5px 13px 4px 17px;
            &.active, &:hover {
                color: @blue-darker;
                font-weight: normal;
                text-decoration: underline;
            }
        }
    }
}
#block-locale-language {
    float:left;
    font-size: 12px;
    ul {        
        margin-bottom: 0;
    }
    .item-list{
        text-transform: uppercase;
        ul.language {
            padding: 0;
            li {
                position: relative;
                padding: 1px 10px 0px 10px;
                display:inline;
                list-style-type:none;
                &:not(:last-child):after{
                    content: '';
                    position: absolute;
                    right: -2px;
                    width: 1px;
                    height: 75%;
                    top: 19%;
                    background: #93a2b3;
                }
                a {
                    color: #93a2b3;
                    font-weight: normal;
                    &.active, &:hover {
                        color: @blue-darker;
                        text-decoration: none;
                    }
                    &.active {
                        font-weight:bold;
                    }
                }
            }
        }
    }
}
.navbar-burger {
    display:none;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 0px solid transparent;
    border-radius: 4px;
    
  // Bars
  .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    color: @blue-light;
  }
  .icon-bar + .icon-bar {
    margin-top: 4px;
  }
    .icon-bar {
      background-color: @navbar-default-toggle-icon-bar-bg;
    }
}
.navbar-nav > li > .dropdown-menu {
    padding: 0;
    left: 12px;
    box-shadow: none;
    .active a {
        color: @blue-darker;
    }
}
.navbar-nav.nav .dropdown-menu > li { 
    background-color: #eff6f8;
    border-bottom: 1px solid white;
}



.navbar-nav.nav .dropdown-menu > li > a {
    width: auto !important;
    background: transparent;
    line-height: 49px;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
}

header#navbar {
    background: #fff;
    height: 134px;
    margin-bottom: 0;
    position:absolute;
    width: 100%;
    max-width: inherit;
    display: inherit;
    border-radius: 0;
    border: 0;
    z-index: 10;
    nav {
        height: 50px;
        .caret {
            display: none;
        }
    }
    .logo-container {
        height: 97px;
        padding-left: 12px !important;
    }
    .logo {
        padding-left: 0;
        img {
            transition: all 0.5s ease-in-out;
        }
    }
    p {
        font-size: 14px;
        line-height: 20px;
        margin: 0; 
        padding-left: 20px;
        padding-right: 20px;
    }
    #block-block-6 {
        transition: all 0.5s ease-in-out;
        margin-top: 43px;
    }
    .menu-primary {
        transition: all 0.5s ease-in-out;
        padding-top: 35px;
    }
    .menu-news {
        transition: all 0.5s ease-in-out;
        padding-top: 104px;
        padding-left: 30px;
        .breadcrumb-rail {
            padding: 0 20px;
            color: @inactive;
        }
    }
}

.navbar-default {
        .menu-primary {
            .navbar-nav {
            > li > a {
            margin-left: 15px;
            margin-right: 15px;
            padding-left: 0px;
            padding-right: 0px;
            padding-bottom: 5px;
            }
            }
        }
    }
header#navbar.nav-up {
    top: -68px;
    #block-block-6 {
        margin-top: 45px;
    }
    .menu-primary {
        padding-top: 85px;
    }
    .menu-news {
        padding-top: 110px;
        padding-left: 0px;
    }
    .logo img {
        margin-top: 65px;
        transform: scale(0.51); 
    }
}


header#navbar.menu-breadcrumb {
    height: 80px;
    top: 0px;
    nav {
        height: 50px;
    }
    .logo-container {
        height: 80px;
    }
    .logo {
        img {
            transition: none;
            margin-top: 5px; 
            transform: scale(0.511); 
        }
    }
    #block-block-6 {
        margin-top: 37px;
    }
    .menu-news {
        transition: all 0.5s ease-in-out;
        padding-top: 50px;
        padding-left: 30px;
        .breadcrumb-rail {
            padding: 0 20px;
            color: @inactive;
        }
    }
}




.admin-menu header#navbar.nav-up {
    top: -45px;
}

// Search form.
form#search-block-form {
  margin: 0;
}
.navbar #block-search-form {
  margin-top: 6px;

  .input-group-btn {
    width: auto;
  }
}
.navbar #block-locale-language {
  margin-top: 7px;
  .item-list {
      margin-left: 15px;
      .first {
          padding-left: 0;
      }
      .last {
          padding-right: 0;
      }
  }

  .input-group-btn {
    width: auto;
  }
}
.product-navigation-block {
    background-color:white;
    border-top: 1px solid #dee8ee;
    .menu {
        display: inline-block;
        li {
            float:left;
            a {
                padding-top: 15px;
                padding-bottom: 10px;
            }
        }
        > li:not(:last-child):after {
            content: ' \00b7';
            position: absolute;
            right: 0px;
            top: 15px;
            width: 2px;
            color: #dee8ee;
        }
    }
}

@media(max-width:@grid-float-breakpoint){
    .navbar-burger {
        display: block;
        margin-top: 26px;
        float: right;
        right: 10px;	
    }
    
    .menu-primary, .menu-secondary, .menu-news {
        display: none;
    }
    header#navbar, header#navbar .logo-container {
        height: 80px;
    }
    
    .admin-menu header#navbar.nav-up {
        top: 29px;
    }
    header#navbar.nav-up {
        height: 80px;   
        .logo img {
            height: 60px;
            margin-top: 10px;
            transform: scale(1);
        }
    }

    header#navbar.menu-breadcrumb.nav-up {
        .logo img {
            height: 60px;
            margin-top: 10px;
        }
    }

    header#navbar.menu-breadcrumb, header#navbar.menu-breadcrumb.nav-up {
        height: 80px;
        top: 0px;
        nav {
            height: 50px;
        }
        .logo-container {
            height: 80px;
        }
        .logo {
            img {
                height: 60px;
                margin-top: 10px;
                transform: scale(1);
            }
        }
        #block-block-6 {
            margin-top: 51px;
        }
        .menu-news {
            transition: all 0.5s ease-in-out;
            padding-top: 65px;
            padding-left: 30px;
            .breadcrumb-rail {
                padding: 0 20px;
                color: @inactive;
            }
        }
    }
}

@media(max-width:@grid-float-breakpoint){
    header#navbar {
        .logo-container {
            padding-left: 0px !important;
            text-align: center;
        }
    }
}
@media(max-width:320px){
    
}
@media(min-width:768px){
    
}
@media(min-width:992px){
    
    
}
@media(min-width:1200px){
    
}