/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31-mai-2017, 17:18:10
    Author     : platanas
*/

.page-no-hero {
    padding-top: 162px;
}
.field-name-field-tags {
    .field-label {
        font-weight: normal;
        padding-top: 7px;
        color: #0d4866;
    }
    .field-label, .field-item {
        float: left;
        margin:0 10px 0 0;
    }
}
footer.footer.footer-no-front {
    .region-footer {
        background: url(../img/xperthis-footer-shadow.jpg) transparent top repeat-x;
    }
}