/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31-mai-2017, 17:18:10
    Author     : platanas
*/

body{
  margin-bottom:463px;
}
.main-container.content {
    background-color: #eff6f8;
    padding-bottom: 45px;
}
.not-front .main-container.content {
    -webkit-box-shadow: 0px 6px 14px 0px rgba(35,31,32,0.35);
    -moz-box-shadow: 0px 6px 14px 0px rgba(35,31,32,0.35);
    box-shadow: 0px 6px 14px 0px rgba(35,31,32,0.35);
    min-height: 100vh;
}

.page-no-hero {
    padding-top: 162px;
    .field.field-name-field-tags {
    .field-label {
        font-weight: normal;
        padding-top: 7px;
        font-size: 14px;
        color: #0d4866;
    }
    .field-label, .field-item {
        float: left;
        margin:0 10px 0 0;
    }
}

}

/* FOOTER */
footer.footer .region-blockgroup-footer-menu {
    p {
        color: @gray-ann;
        &.white {
            color: white;
        }
    }
}

footer.footer.footer-no-front {
    .region-footer {
        background-color: white;
        -webkit-box-shadow: 0px 6px 14px 0px rgba(35,31,32,0.35);
        -moz-box-shadow: 0px 6px 14px 0px rgba(35,31,32,0.35);
        box-shadow: 0px 6px 14px 0px rgba(35,31,32,0.35);
        /*background: url(../img/xperthis-footer-shadow.png) transparent top repeat-x;*/
    }
}


footer.footer {
    background: transparent;
    border: 0;
    background: transparent;
    /*background: url('../img/xperthis-footer-bg.jpg') bottom repeat; /* or any other overlay image/color */
    padding-bottom: 0;
    padding-top: 0;
    margin-top:0;
    .fa-circle {
        color: #36475a;
    }
    
    .block-simplenews {
        margin-bottom: 46px;
        h3 {
            color:#38a7c8;
        }
    }
    
    .region-blockgroup-footer-menu {
        padding-top: 46px;
        border-top: 2px solid #36475a;
        color:#b2bdc4;
        p {
            font-size: 14px;
        }
    }
    #block-block-5 {
        background: url('../img/xperthis-part-nrb-bg.jpg') white bottom repeat-x; /* or any other overlay image/color */
    }
    #block-views-partner-block {
        background-color: white;
        -webkit-box-shadow: 0px 6px 14px 0px rgba(35,31,32,0.35);
        -moz-box-shadow: 0px 6px 14px 0px rgba(35,31,32,0.35);
        box-shadow: 0px 6px 14px 0px rgba(35,31,32,0.35);
        /*background: url('../img/xperthis-footer-shadow.png') transparent bottom repeat-x; /* or any other overlay image/color */
        max-height: 200px;
        min-height: 200px;
        .row img{
            display: none;
        }
        .row:nth-of-type(1) img{
            display: block;
        }
        .view-id-partner .view-content {
            .container {
                .row-partner {
                    .row {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        margin: 0 auto;
                        width: 100%;
                        height: 100%;
                        .col-lg-3 {
                            width: 200px;
                            height: 100px;
                            position: relative;
                            display: block;
                            margin: 10px auto;
                            img {
                                position: absolute;
                                width: 200px;
                                height: 100px;
                            }
                        }
                    }
                }
            }
        }
    }
    
    
}
footer .sticky-footer-behind{
  position:fixed;
  background: url('../img/xperthis-footer-bg.jpg') bottom repeat; /* or any other overlay image/color */
  bottom:0;
  left:0;
  width:100%;
  height:463px;
  color:#fff;
  z-index:-1;
}


@media(max-width:@grid-float-breakpoint){
    body{
        margin-bottom: 620px;
    }
    footer .sticky-footer-behind{
        height: 620px;
    }
    #block-views-partner-block, #block-menu-menu-about, #block-menu-menu-our-offer {
        display: none;
    }
}