/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09-juin-2017, 16:08:42
    Author     : platanas
*/
.page-taxonomy {
    .node-teaser .teasing{
        background-color: white;
        h4, p {
            padding:25px 0 0 25px;
        }
        footer {
            .list-inline {
                text-align: right;
                padding: 25px 25px 25px 0;
            }
        }
    }
}

/* TAGS BLOCS */
#block-views-news-tags-block-1 {
    .view-display-id-block_1 {
        background: url(../img/xperthis-categorie-bg.png) transparent repeat-y left top;
        padding: 38px 0px;
        ul {
            padding:0;
            margin: 0;
            li {
                list-style-type: none;
                padding-left: 38px;

                &.active {
                    background: url(../img/xperthis-categorie-selected.png) no-repeat left top;
                    
                }
                .categories {
                    padding: 2px 0 0 12px;
                }
                a {
                    color: @blue-darker;
                    &:hover, &:focus, &:active {
                        text-decoration: none;
                    }
                    &:hover {
                        font-weight: 500;
                        color: @blue-light;
                    }
                    &.active {
                        font-weight: 500;
                        color: @blue-light;
                    }
                }
            }
            li:has(.categories) {
                list-style-image: url(../img/xperthis-categorie-selected.png);
            }
        }
        
    }
    h2.block-title {
        font-weight: 300;
        margin-left: 10px;
    }
}
/* TAGS BLOCS */
#block-views-news-tags-block {
    margin-left: 10px;
    h2.block-title {
        font-weight: 300;
    }
    .btn-default {
        padding: 5px 20px;
        a {
            color: #337ab7;
        }
    }
    .views-row {
        float: left;
        margin: 0 5px 5px 0;
    }
}
